# Binaries, cache, build
.venv/
.cache/
.temp/
.tmp/
build/
__pycache__/

# Data
data/
output/

# C++ includes
# cpp/include/

# Rust experiments
rust/target/
rust/

# Folder with visualization binaries
visualization/

# Folder with experiments and illustrations
experiments